<div class="main-container">
            <section class="text-center bg--primary space--sm">
                <div class="container">
                    <div class="row mb-4 justify-content-center">
                        <h2>Search <%= beer_count_rounder %> beers & breweries</h2>
                    </div>
                    <form class="row justify-content-center" action="/search" style="margin-left: 0; margin-right: 0;">
                        <div class="col-lg-6 col-md-8"> <input class="validate-required validate-email" type="text" name="query" placeholder="Search for beers &amp; breweries"> </div>
                        <div class="col-lg-2 col-md-4"> <button type="submit" class="btn btn--secondary search-button-text">Search</button> </div>
                        <div style="position: absolute; left: -5000px" aria-hidden="true"> <input type="text" name="b_77142ece814d3cff52058a51f_f300c9cce8" tabindex="-1" value=""> </div>
                    </form>
                </div>
            </section>

            <section class="text-center space--sm">
                <div class="container">
                    <div class="row">
                        <div class="col-md-10 col-lg-8">
                            <h1>Beers</h1>
                            <p class="lead">It's might be weird but your beer might be more than grain, hops, yeast and water. <br/>During the <b>making</b> breweries can add things such dairy & honey to the recipe. <br/>When filtering breweries can use things like isinglass (fish bladder,) gelatin, egg whites, and sea shells, among other things.<br/><br/>Below is a pick of some of the vegan beers on our list, alternatively use the search above to check is your beer contains any animal products.</p>
                        </div>
                    </div>
                </div>
            </section>

            <section class="text-center bg--secondary space--xxs">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="slider" data-arrows="false" data-paging="true">
                                <ul class="slides">
                                <%= render partial: 'beer', collection: @beers %>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="text-center space--sm">
                <div class="container">
                    <div class="row">
                        <div class="col-md-10 col-lg-8">
                            <h1>Breweries</h1>
                            <p class="lead">Not all breweries are created equally.<br/>Even though many beers are vegetarian, most brewers do not reveal which beers contain animal products.<br/>We are publishing this information to make it easier for you to pick the best vegan beers, and even support breweries that don't use animal products in their beers..</p>
                        </div>
                    </div>
                </div>
            </section>

            <section class="text-center bg--secondary space--xxs">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="slider" data-arrows="false" data-paging="true">
                                <ul class="slides">
                                <%= render partial: 'brewery', collection: @breweries %>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </section>