<div class="main-container">
<section class="space--xs">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h1>New Brewery</h1>
                        </div>
                    </div>
                </div>
</section>
<section class="space--xs">
    <div class="container">
        <%= render 'form', brewery: @brewery %>
    </div>
</section>



<%= link_to 'Back', breweries_path %>
