<div class="main-container">
<section class="space--xs">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h1>Edit Beer</h1>
                        </div>
                    </div>
                </div>
</section>
<section class="space--xs">
    <div class="container">
        <%= render 'form', beer: @beer %>
    </div>
</section>

<%= link_to 'Show', @beer %> |
<%= link_to 'Back', beers_path %>
