.logo-style {
  font-size: 1em;
  line-height: 2.166666666666667em;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: .5px;
  color: white;
}

.logo_icon {
  margin-right: 1em;
  font-size: 1.5em;
}

.Aligner {
  margin: auto auto;
}

.mobile-logo {
  padding-left: 1em;
}

.bg--primary {
  background: #238b53 !important;
}

.btn--primary, .btn--primary:visited {
  background: #238b53 !important;
  border-color: #238b53 !important;
}

.search-button-text {
  color: #238b53 !important;
}

.footer-flag {
  font-size: 1.5em;
}

.label {
  display: inline-block;
  font-size: 9px;
  font-weight: 700;
  letter-spacing: .5px;
  color: #fff;
  text-transform: uppercase;
  height: 26px;
  min-width: 65px;
  padding: 6px 10px !important;
  text-align: center;
  border-radius: 50px;
  position: absolute;
  z-index: 3;
  top: 1.23809524em;
  right: 1.23809524em;
}

.pagination {
  display: block !important;
  margin-bottom: 1.85714286em;
}

.pagination a {
  padding: 10px;
  font-weight: 700;
  line-height: 23px;
  width: 1.85714286em;
  height: 1.85714286em;
}

.pagination .current {
  cursor: default;
    background: #ececec;
    color: #aaa;
    border: 1px solid #ececec;
    padding: 1%;
    margin: 1%;
}

.social-list {
  font-size: 2em !important;
}

.side-bar-info {
  margin-bottom: 1.5em !important;
  background: white;
  padding: 15px;
  border: 1px solid lightgrey;
  border-radius: 4px;
  margin-top: -0.5em !important;
}