.logo-style {
  font-size: 1em;
  line-height: 2.166666666666667em;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: .5px;
  color: white;
}

.logo_icon {
  margin-right: 1em;
  font-size: 1.5em;
}

.Aligner {
  margin: auto auto;
}

.mobile-logo {
  padding-left: 1em;
}

.bg--primary {
  background: #238b53 !important;
}

.btn--primary, .btn--primary:visited {
  background: #238b53 !important;
  border-color: #238b53 !important;
}

.search-button-text {
  color: #238b53 !important;
}