<footer class="text-center space--sm footer-5">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <div>
                                <ul class="social-list list-inline list--hover">
                                    <li><a href="#"><i class="fab fa-google-plus-square"></i></a></li>
                                    <li><a href="#"><i class="fab fa-twitter-square"></i></a></li>
                                    <li><a href="#"><i class="fab fa-facebook-square"></i></a></li>
                                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                </ul>
                            </div>
                            <div> <span class="type--fine-print">Made in United Kingdom</span> <span class="footer-flag">🇬🇧</span> </div>
                            <div> <span class="type--fine-print">© <span class="update-year"></span> IsItVeganBeer.com</span></div>
                        </div>
                    </div>
                </div>
            </footer>
            </div>