            <section class="text-center bg--primary space--xxs">
                <div class="container">
                    <form class="row justify-content-center" action="/search" style="margin-left: 0; margin-right: 0;">
                        <div class="col-lg-6 col-md-8"> <input class="validate-required validate-email" type="text" name="query" placeholder="Search beers and breweries"> </div>
                        <div class="col-lg-2 col-md-4"> <button type="submit" class="btn btn--secondary search-button-text">Search</button> </div>
                        <div style="position: absolute; left: -5000px" aria-hidden="true"> <input type="text" name="b_77142ece814d3cff52058a51f_f300c9cce8" tabindex="-1" value=""> </div>
                    </form>
                </div>
            </section>